.movie-card {
  width: 10em;
  height: fit-content;
  border: 2px solid var(--night);
  background-color: var(--aqua);
  margin: 1em;
  overflow: hidden;
  border-radius: 2px;
}

.movie-card img {
  height: fit-content;
  width: 10em;
}

.movie-card h3,
.movie-card p {
  text-align: center;
}
